#header-banner {
  background-color: #4C5B5C;
  padding: 1rem;
  width: 100vw;
  margin-bottom: 2rem;
  user-select: none;
  display: inline-flex;
}

#me-image {
  border-radius: 100px;
  height: 120px;
  width: auto;
}

#my-name {
  position: relative;
  color: #FDE74C;
  padding: 1rem;
  font-size: 4rem;
  top: 2rem;
}

.my-titles {
  position: relative;
  color: #FDE74C;
  padding: 1rem;
  font-size: 1rem;
  top: 4rem;
}

#avocado:hover {
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
  transform-origin: 50% 25%;
}

@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  #header-banner {
    background-color: #4C5B5C;
    padding: 1rem;
    width: 100vw;
    margin-bottom: 0rem;
    user-select: none;
    display: inline-flex;
  }
}

