.header-banner {
  display: flex;
  background-color: #4C5B5C;
  align-items: center;
  letter-spacing: 1rem;
  width: 100vw;
}

.header-text-container {
  flex-wrap: wrap;
}

.me-image {
  border-radius: 100px;
  height: 4rem;
  width: auto;
  margin: 1rem .5rem 1rem 1rem;
}

.my-name {
  color: #FDE74C;
  font-size: 1.5rem;
  margin-left: .5rem;
}

.my-titles {
  color: #FDE74C;
  margin-left: .5rem;
  font-size: 1rem;
  letter-spacing: .5rem;
}