#skills {
  /* background-color: #DB5461; */
  background-color: #4C5B5C;
  border-radius: 1rem;
  color: white;
  user-select: none;
  padding: 0 0 3rem 0;
}

.skills-header {
  margin: 1rem 0 -1.5rem 1rem;
}

#skills-body {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 5rem 5rem 5rem 5rem 5rem;
  justify-content: center;
}

.logo-wrapper {
  position: relative;
  height: 0rem;
  flex-wrap: wrap;
}

.skill-hover {
  position: relative;
  top: -2rem;
  bottom: 0;
  color: #fff;
  text-align: center;
  font-size: small;
  /* visibility: hidden; */
  /* opacity: 0; */
  /* transition effect. not necessary */
  /* transition: opacity .4s, visibility .4s; */
}

/* .logo-wrapper:hover .skill-hover {
  visibility: visible;
  opacity: 1;
  z-index: 5;
} */

.skill-logos {
  width: 32px;
  height: 32px;
  /* padding: 1rem; */
  margin: 2rem;
}

/* .skill-logos:hover {
  animation: heartbeat .75s infinite;
} */

/* @keyframes heartbeat
{
  0%
  {
    transform: scale( 1 );
  }
  50%
  {
    transform: scale( 1.25 );
  }
  100%
  {
    transform: scale( 1 );
  }
} */
