#skills {
  display: flexbox;
  font-size: 1.5rem;
  background-color: #DB5461;
  padding: 3rem;
  border-radius: 1rem;
  margin-bottom: 2rem;
  width: 50vw;
  color: white;
  user-select: none;
}

#skills-body {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-template-rows: 8rem 8rem 8rem;
  justify-content: space-evenly;
}

.logo-wrapper {
  position: relative;
  height: 2rem;
}

.skill-hover {
  position: absolute;
  top: 5rem;
  bottom: 0;
  left: 0;
  right: 0;
  color: #fff;
  visibility: hidden;
  opacity: 0;
  text-align: center;

  /* transition effect. not necessary */
  transition: opacity .4s, visibility .4s;
}

.logo-wrapper:hover .skill-hover {
  visibility: visible;
  opacity: 1;

}

.skill-logos {
  width: 64px;
  height: 64px;
  padding: 1rem;
}

.skill-logos:hover {
  animation: heartbeat .75s infinite;
}

@keyframes heartbeat
{
  0%
  {
    transform: scale( 1 );
  }
  50%
  {
    transform: scale( 1.25 );
  }
  100%
  {
    transform: scale( 1 );
  }
}