html {
  overflow-x: hidden;
}

body {
  background-color: #3891A6;
  font-family: "Roboto";
  margin: 0;
}

#body {
  margin: 2rem;
}

#about-and-skills-container {
  display: inline-flex;
}








