html {
  font-family: "Roboto";
  background-color: gainsboro;
}

.app-container {
  display: flex;
  flex-direction: row;
  line-height: 1.8;
  border-radius: 100px;
}

.navbar-container {
  position: fixed;
  display: block;
  background-color: white;
  padding: 2rem;
  width: 200px;
  height: 100vh;
}

.name-title {
  text-align: center;
  margin-bottom: 2rem;
}

.navlist {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.navlist li {
  margin-bottom: 5%;
  text-align: center;
  text-decoration: none;
}

.navlist a {
  color: black;
  text-decoration: none;
}

.navlist a:hover {
  color: red;
  cursor: pointer;
}

.main-container {
  display: flex;
  justify-content: center;
  height: fit-content;
  width: 100vw;
  margin-top: 4rem;
  margin-left: 264px;
}

.main {
  background-color: #fff;
  width: 50vw;
  padding: 2rem 4rem 3rem 4rem;
}

.work-details {
  font-size: small;
  padding-left: 2rem;
}

.endeavors-list {
  font-size: small;
}

@media all and (max-width: 1000px) {
  .app-container {
    flex-direction: column;
  }

  .navbar-container {
    display: flex;
    flex-direction: column;
    position: relative;
    height: min-content;
    width: auto;
    display: flex;
    padding: 1rem;
    align-items: center;
  }

  .name-title {
    position: relative;
    margin-bottom: 0rem;
  }

  .navlist {
    display: flex;
    position: relative;
    width: min-content;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .navlist li {
    padding: 0 1rem 0 1rem;
  }

  .main-container {
    margin-left: 0;
    margin-top: 3rem;
  }

}

@keyframes vibrate {
  0% { transform: translate(0, 0); }
  10% { transform: translate(-5px, -5px); }
  20% { transform: translate(5px, 5px); }
  30% { transform: translate(-5px, -5px); }
  40% { transform: translate(5px, 5px); }
  50% { transform: translate(-5px, -5px); }
  60% { transform: translate(5px, 5px); }
  70% { transform: translate(-5px, -5px); }
  80% { transform: translate(5px, 5px); }
  90% { transform: translate(-5px, -5px); }
  100% { transform: translate(0, 0); }
}

.vibes:hover {
  animation: vibrate 0.4s infinite;
}