html {
  width: 100vw;
}

h3 {
  font-size: 48px;
  font-style: normal;
  font-weight: normal;
}

body {
  background-color: #3891A6;
  font-family: "Roboto";
  margin: 0;
}

#contents {
  margin: 2rem;
}

#about-and-skills-container {
  display: flex;
  flex-direction: row;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  #body {
    margin: 2rem;
  }

  #about-and-skills-container {
    flex-direction: column;
    width: 100%;
  }
}






